*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


h1{
    font-size: 5rem;
    
    color: #333;
    user-select: none;
}

.sign-box{
    position: fixed;
    top: 8%;
    right: 9%;
    display: flex;
    padding: 6px 15px;
}
.log-box{
    margin: 0 8px;
    width: 120px;
    height: 36px;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    padding: 6px;
    transition: .218s;
}
.log-box:hover{
    box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%);
}
.img{
    width: 28px;
    height: 28px;
    position: relative;
    border-radius: 50%;
    margin: 0 5px;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 50%;
    user-select: none;
}
.name{
    overflow: hidden;
    margin-right: 5px;
}
.name span{
    user-select: none;
}