*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;

    list-style: none;
    text-decoration: none;

    font-family: 'Poppins',sans-serif;

}